<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Customer Home</title>
  <link rel="stylesheet" href="/styles/homecus.css">
</head>

<body>

  <div class="home-page">
    <h1 class="home-title">My Bookings</h1>

    <table class="booking-table" border="1" cellpadding="10">
      <thead>
        <tr>
          <th>Booking Code</th>
          <th>Service</th>
          <th>Qty</th>
          <th>Schedule</th>
          <th>Address</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% bookings.forEach(booking=> { %>
          <% booking.Services.forEach(service=> { %>
            <tr>
              <td class="booking-code">
                <%= booking.bookingCode %>
              </td>
              <td class="service-name">
                <%= service.name %>
              </td>
              <td class="booking-qty">
                <%= service.BookingService.qty %>
              </td>
              <td class="schedule">
                <%= dayjs(booking.scheduleDate) %>
              </td>
              </td>
              <td class="address">
                <%= booking.address %>
              </td>
              <td class="status">
                <%= booking.status %>
              </td>
            </tr>
            <% }) %>
              <% }) %>
      </tbody>
    </table>

    <td class="action">
      <a href="/customer/cart"><button>cart</button></a>
    </td>

    <a href="/customer/bookings/add"><button>Add Booking</button></a>
  </div>
</body>

</html>